.about {
  margin-bottom: 20px;


  @include tablet {
    order: 4;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 60px;

    @include big-desktop {
      gap: 20px 40px;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__desc {
    margin: 0;
    font-family: var(--font4);
    font-weight: 400;
    font-size: 18px;
    line-height: 157%;
    color: #767676;

    @include tablet {
      font-size: 16px;
    }
  }
}