.benefit {

  @include small-tablet {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  &__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    background-color: #f2f3f7;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 50%;
      height: 50%;
      object-fit: contain;
    }
  }

  &__title {
    display: block;
    margin-bottom: 14px;
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 26px;
    line-height: 114%;
    color: #2c2c2c;
    max-width: 245px;

    @include tablet {
      font-size: 20px;
      margin-bottom: 12px;
    }

    @include small-tablet {
      max-width: unset;
    }

    @include mobile {
      margin-bottom: 8px;
    }
  }

  &__desc {
    margin: 0;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 133%;
    color: #747474;
  }
}