.form {
  height: 54px;
  width: 100%;
  max-width: 344px;
  background: #f4f4f4;
  border-radius: 50px;
  position: relative;

  @media (max-width: 1200px) {
    height: 48px;
  }

  // @include small-tablet {
  //   width: 44px;
  //   height: 44px;
  //   border-radius: 100%;
  // }

  label {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

    img {
      display: none;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      // @include small-tablet {
      //   display: block;
      // }
    }
  }

  &__input {
    border: none;
    background: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 18px 36px;

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    color: #000;
    border-radius: 50px;
    transition: width .3s ease-out, background .3s ease-in;

    @media (max-width: 1200px) {
      padding: 16px 28px;
    }

    // @include small-tablet {
    //   padding-left: 40px;
    // }

    // @include small-tablet {
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    // }

    &::placeholder {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.4);
    }

    &:focus {
      outline: none;

      // @include small-tablet {
      //   width: 300px;
      //   background: #f4f4f4;

      // }
    }
  }
}