.header {
  padding: 30px 0;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include small-tablet {
      gap: 10px;
      flex-shrink: 0;
    }
  }

  &__logo {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 20px;
    color: #323232;
    display: flex;
    align-items: center;
    gap: 10px;

    @include big-desktop {
      font-size: 18px;
      gap: 10px;
    }

    @include small-tablet {

      font-size: 14px;
    }

    @include mobile {
      font-size: 12px;
      gap: 4px;
    }

    @media (max-width: 375px) {
      font-size: 10px;
    }

    span {
      font-size: 28px;
      color: #e9331d;

      @include big-desktop {
        font-size: 24px;
        gap: 10px;
      }

      @include small-tablet {
        font-size: 18px;
      }

      @include mobile {
        font-size: 14px;
      }

      @media (max-width: 375px) {
        font-size: 12px;
      }
    }
  }

  &__link {
    font-family: var(--font5);
    font-weight: 500;
    font-size: 16px;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: #2c2c2c;

    display: flex;
    align-items: center;
    gap: 6px;

    @include big-desktop {
      font-size: 16px;

      svg {
        width: 14px;
        height: 14px;

        @include small-tablet {
          width: 10px;
          height: 10px;
        }
      }
    }

    @media (max-width: 1200px) {
      position: absolute;
      left: 20px;
      bottom: 5px;
    }

    @include small-tablet {
      left: unset;
      right: 20px;
      font-size: 14px;
    }

    @include mobile {
      font-size: 10px;
    }
  }



  &__buttons {
    display: flex;
    align-items: center;
    gap: 16px;

    @include big-desktop {
      gap: 10px;
    }

    // @include small-tablet {
    //   flex-direction: column;
    //   align-items: stretch;
    //   gap: 4px;
    // }
  }

  &__btn {
    display: inline-block;
    position: relative;

    @media (max-width: 1200px) {
      padding: 14.5px 30px;
    }

    @include small-tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      padding: 0;
    }

    @include mobile {
      width: 34px;
      height: 34px;
    }

    @media (max-width: 375px) {
      width: 30px;
      height: 30px;
    }

    span {
      @include small-tablet {
        display: none;
      }
    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: none;
      width: 50%;
      height: 50%;

      @include small-tablet {
        display: block;
      }
    }
  }
}