.promo {
  margin-bottom: 20px;


  @include tablet {
    order: 2;
  }


  &__title {
    margin-bottom: 20px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 42px 20px;
    align-items: flex-start;

    @include big-desktop {
      gap: 20px;
    }

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }
}