.promos-about {
  padding: 20px 45px;

  @include tablet {
    padding: 20px;
  }

  @include mobile {
    padding: 0;
    flex-shrink: 0;
  }

  &__content {
    @include mobile {
      display: none;

    }
  }

  &__logo {
    margin: 0 auto;
    margin-bottom: 18px;
    padding: 20px;
    background: #fff;
    border: 2px solid #e2e2e2;
    border-radius: 20px;
    height: 154px;
    width: 100%;
    max-width: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    img {
      width: 142px;
      height: auto;
      object-fit: contain;

      @media (max-width: 850px) {
        width: 120px;
      }

      @include mobile {
        width: auto;
        height: 20px;
      }
    }

    @media (max-width: 850px) {
      height: 130px;
      max-width: 250px;
      margin-bottom: 16px;
    }

    @include mobile {
      flex-shrink: 0;
      padding: 10px;
      height: auto;
      border-radius: 10px;
    }
  }

  &__title {
    display: block;
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #505050;


    @include mobile {
      font-size: 18px;
      margin-bottom: 10px;

    }
  }

  &__economy {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #e9331d;

    @include mobile {
      margin-bottom: 10px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #4671d5;
    border-radius: 25px;
    padding: 18px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #212730;
    overflow: hidden;
    position: relative;
    transition: color .3s ease-in-out;

    span {
      position: relative;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      inset: -1px;
      background-color: #4671d5;
      transform: translateY(110%);
      transition: transform .3s ease-in-out;
    }

    @include hover {
      color: #fff;

      &::after {
        transform: translateY(0);
      }
    }

    @include tablet {
      text-align: center;
    }

    @media (max-width: 850px) {
      max-width: 250px;
      margin: 0 auto;
    }

    @include mobile {
      padding: 15px 18px;
      border-radius: 15px;
    }

  }


}