.promo-item {
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;

  &--promo {
    @include mobile {
      .promo-item__use {
        transform: translate(-5%, -50%);
      }
    }
  }



  &--move {
    .promo-item__use {
      transform: translate(-5%, -50%);
    }
  }

  &--short {
    .promo-item {
      &__btn {
        position: relative;

        padding: 16px 20px;

        width: 60px;
        height: 60px;
        border-radius: 100%;

        @include mobile {
          width: 45px;
          height: 45px;
        }
      }

      &__use {
        svg {
          display: block !important;
        }

        span {
          display: none !important;
        }
      }
    }
  }

  @include mobile {
    border-radius: 15px;
  }

  &__top {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 20px 30px;

    cursor: pointer;

    @include tablet {
      padding: 20px;
    }

    @include small-tablet {
      padding: 10px;
    }

    @media (max-width: 450px) {
      padding: 10px 20px;
    }

    @include hover {
      .promo-item__use {
        transform: translate(-10%, -50%);
      }
    }

    &:active {
      .promo-item__use {
        transform: translate(-5%, -50%);
      }
    }
  }

  &__discount {
    font-weight: 700;
    font-size: 40px;
    color: #e9331d;

    @include tablet {
      font-size: 30px;
    }

    @include small-tablet {
      font-size: 24px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;


    svg {
      width: 50%;
      aspect-ratio: 1 / 1;
      object-fit: contain;
      fill: #e9331d !important;

      @include mobile {
        width: 100%;
      }
    }

    &--gray {
      svg {
        fill: #c7c4c5;
      }
    }
  }

  &__info {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      gap: 10px;
    }

    .promo-item__discount,
    .promo-item__icon,
    .promo-item__image {
      flex-shrink: 0;
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include tablet {
        width: 18%;
      }

      @include mobile {
        width: auto;
        max-width: 20%;
      }
    }

    .promo-item__icon {
      @include mobile {
        max-width: 16%;
      }
    }


  }

  &__image {

    height: auto;
    max-height: 72px;

    @include tablet {
      max-height: 50px;
    }

    img {
      width: 100%;
      max-width: 150px;
      height: auto;
      object-fit: contain;
    }
  }

  &__name {
    display: block;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    color: #e9331d;

    @include mobile {
      font-size: 12px;
    }
  }

  &__desc {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    color: #505050;

    padding-right: 7px;

    @include tablet {
      font-size: 22px;
      margin-bottom: 8px;
    }

    @include mobile {
      font-size: 16px;
      margin-bottom: 4px;
    }

    @media (max-width: 375px) {
      font-size: 15px;
    }
  }

  &__time {
    display: block;
    font-weight: 500;
    font-size: 12px;
    color: #b1b1b1;


    @include mobile {
      font-size: 10px;
    }
  }

  &__btn {
    padding: 22px 30px;
    border-radius: 50px;
    position: relative;


    width: 200px;
    height: 60px;


    @include tablet {
      padding: 16px 20px;
      height: 56px;
    }

    @include mobile {
      width: 45px;
      height: 45px;
      border-radius: 100%;
    }





  }

  &__use {
    position: absolute;
    z-index: 4;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e9331d;
    z-index: 4;
    // padding: 26.5px 34px;
    border-radius: 50px;
    overflow: hidden;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    transition: transform .3s ease-out;


    svg {
      display: none;
      width: 14px;
      height: 14px;
      fill: #fff;

      @include mobile {
        display: block;
      }
    }

    @include big-desktop {
      padding: 20px 26px;
    }

    @include tablet {
      padding: 16px 20px;
    }

    @include mobile {
      padding: 5px;
      font-size: 14px;
    }

    span {
      @include mobile {
        display: none !important;
      }
    }

    @media (max-width: 375px) {
      font-size: 11px;
    }
  }

  &__promo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
    border: 2px dashed #d61c4e;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    color: #e9331d;
    border-radius: 50px;
    overflow: hidden;

    @include mobile {
      padding: 5px;
      font-size: 12px;
      justify-content: flex-start;
    }

    @media (max-width: 375px) {
      font-size: 10px;
    }

    span {
      animation: scroll 6s linear infinite;
    }
  }

  &__more {
    padding: 11px 64px;
    background: #eee;

    @include big-desktop {
      padding: 10px 30px;
    }

    @include mobile {
      padding: 5px 20px;
    }
  }

  &__content {
    max-width: 462px;

    @include mobile {
      max-width: 250px;
    }
  }

  &__btn {
    &--gray {
      .promo-item {
        &__use {
          background: #c7c4c5;
        }

        &__promo {
          border-color: #c7c4c5;
          color: #c7c4c5;
        }
      }
    }


  }

  &--akc {
    @include hover {
      .promo-item__use {
        transform: translate(-5%, -50%);
      }
    }
  }
}

.promo-more {
  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    color: #b1b1b1;
    cursor: pointer;
  }

  &__desc {
    max-height: 0;
    transition: max-height .3s ease-out, padding-top .3s ease-out;
    box-sizing: content-box;
    will-change: max-height;
    overflow: hidden;

    p {
      margin: 0;
      font-weight: 500;
      font-size: 14px;
      color: #b1b1b1;
    }

    &.active {
      padding-top: 15px;

      @include mobile {
        padding-top: 5px;
      }
    }
  }
}


@keyframes scroll {
  0% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(-40%);
  }
}