<section class="about-section">
  <div class="container">
    <h2 class="about-section__title title2">О магазине</h2>

    <div class="about-section__content">
      <div class="about-section__left">
        <h2 class="about-section__name">ASOS</h2>
        <a href="#" class="about-section__link">asos.com</a>
        <p class="about-section__desc">
          Таким образом новая модель организационной деятельности представляет собой
          интересный эксперимент проверки систем массового участия. Повседневная практика показывает, что постоянный
          количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации существенных
          финансовых и административных условий.
        </p>
        <p class="about-section__desc">
          Таким образом новая модель организационной деятельности представляет собой
          интересный эксперимент проверки систем массового участия. Повседневная практика показывает, что постоянный
          количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации существенных
          финансовых и административных условий.
        </p>
        <p class="about-section__desc">
          Таким образом новая модель организационной деятельности представляет собой
          интересный эксперимент проверки систем массового участия.
        </p>
      </div>
      <div class="about-section__logo">
        <img src="./img/stores/01.svg" alt="">
      </div>
    </div>
  </div>
</section>