<footer class="footer">
  <div class="container footer__container">
    <div class="footer__links">
      <a href="#" class="footer__link">Пользовательское соглашение</a>
      <a href="#" class="footer__link">Связаться с нами</a>
      <a href="#" class="footer__link">Карта сайта</a>
    </div>
    <small class="footer__copy">©2022, Getcashback.ru. Все права защищены.</small>
    <small class="footer__copy">
      Логотипы и данные о магазинах и сервисах размещены исключительно в информационных целях
      в соответствии со статьей 1274 Гражданского кодекса РФ. Компания не является официальным представителем магазинов
      и не осуществляет деятельность от их имени
    </small>
  </div>
</footer>