<section class="hero">
  <div class="container">
    <div class="swiper hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__content">
            <span class="hero__title">Экономим на OZON</span>
            <p class="hero__desc">Все промокоды и акции крупнейшего маркетплейса</p>
            <a href="#" class="btn-reset btn btn--red hero__btn">Узнать больше</a>

            <div class="hero__image">
              <picture>
                <source srcset="./img/ozon-car-2x.webp" media="(min-width: 1900px)">
                <source srcset="./img/ozon-car.webp">
                <img src="./img/ozon-car.png" srcset="./img/ozon-car-2x.png 2x" alt="OZON">
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <span class="hero__title">Экономим на OZON</span>
            <p class="hero__desc">Все промокоды и акции крупнейшего маркетплейса</p>
            <a href="#" class="btn-reset btn btn--red hero__btn">Узнать больше</a>

            <div class="hero__image">
              <picture>
                <source srcset="./img/ozon-car-2x.webp" media="(min-width: 1900px)">
                <source srcset="./img/ozon-car.webp">
                <img src="./img/ozon-car.png" srcset="./img/ozon-car-2x.png 2x" alt="OZON">
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <span class="hero__title">Экономим на OZON</span>
            <p class="hero__desc">Все промокоды и акции крупнейшего маркетплейса</p>
            <a href="#" class="btn-reset btn btn--red hero__btn">Узнать больше</a>

            <div class="hero__image">
              <picture>
                <source srcset="./img/ozon-car-2x.webp" media="(min-width: 1900px)">
                <source srcset="./img/ozon-car.webp">
                <img src="./img/ozon-car.png" srcset="./img/ozon-car-2x.png 2x" alt="OZON">
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <span class="hero__title">Экономим на OZON</span>
            <p class="hero__desc">Все промокоды и акции крупнейшего маркетплейса</p>
            <a href="#" class="btn-reset btn btn--red hero__btn">Узнать больше</a>

            <div class="hero__image">
              <picture>
                <source srcset="./img/ozon-car-2x.webp" media="(min-width: 1900px)">
                <source srcset="./img/ozon-car.webp">
                <img src="./img/ozon-car.png" srcset="./img/ozon-car-2x.png 2x" alt="OZON">
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="hero__content">
            <span class="hero__title">Экономим на OZON</span>
            <p class="hero__desc">Все промокоды и акции крупнейшего маркетплейса</p>
            <a href="#" class="btn-reset btn btn--red hero__btn">Узнать больше</a>

            <div class="hero__image">
              <picture>
                <source srcset="./img/ozon-car-2x.webp" media="(min-width: 1900px)">
                <source srcset="./img/ozon-car.webp">
                <img src="./img/ozon-car.png" srcset="./img/ozon-car-2x.png 2x" alt="OZON">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__control control">
        <div class="hero__control-btn hero-slider-prev control__btn control__btn--prev"></div>
        <div class="hero__control-btn hero-slider-next control__btn control__btn--next"></div>
      </div>
      <div class="swiper-pagination hero__pagination"></div>
    </div>

  </div>
</section>