<div class="promos-chars sidebar">
  <h2 class="promos-chars__title">
    Как использовать промокод ASOS?
  </h2>
  <p class="promos-chars__desc text-block">
    Таким образом новая модель организационной деятельности представляет собой интересный эксперимент проверки систем
    массового участия. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности
    влечет за собой процесс внедрения и модернизации существенных финансовых и административных<span
      class="dots">...</span><span class="more"> таким образом новая модель организационной деятельности представляет
      собой
      интересный эксперимент проверки систем
      массового участия. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности
      влечет за собой процесс внедрения и модернизации существенных финансовых и административных</span><span
      class="read-more"> Читать
      далее</span>
  </p>
</div>
<div class="promos-chars">
  <h2 class="promos-chars__title">
    Часто задаваемые вопросы
  </h2>
  <ul class="list-reset promos-chars__list">
    <li class="promos-chars__item">
      <div class="promos-chars__heading">
        <div class="promos-chars__arr">
          <svg width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_24_85)">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M-6.16331e-08 2L1.41 0.589996L6 5.17L10.59 0.589996L12 2L6 8L-6.16331e-08 2Z" />
            </g>
            <defs>
              <clipPath id="clip0_24_85">
                <rect width="8" height="12" fill="white" transform="translate(12) rotate(90)" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <span>
          Как заказывать на ASOS?
        </span>
      </div>
      <div class="promos-chars__text">
        <p>
          Таким образом новая модель организационной деятельности представляет собой интересный эксперимент проверки
          систем
        </p>
      </div>
    </li>
    <li class="promos-chars__item">
      <div class="promos-chars__heading">
        <div class="promos-chars__arr">
          <svg width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_24_85)">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M-6.16331e-08 2L1.41 0.589996L6 5.17L10.59 0.589996L12 2L6 8L-6.16331e-08 2Z" />
            </g>
            <defs>
              <clipPath id="clip0_24_85">
                <rect width="8" height="12" fill="white" transform="translate(12) rotate(90)" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <span>
          Как заказывать на ASOS?
        </span>
      </div>
      <div class="promos-chars__text">
        <p>
          Таким образом новая модель организационной деятельности представляет собой интересный эксперимент проверки
          систем
        </p>
      </div>
    </li>
    <li class="promos-chars__item">
      <div class="promos-chars__heading">
        <div class="promos-chars__arr">
          <svg width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_24_85)">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M-6.16331e-08 2L1.41 0.589996L6 5.17L10.59 0.589996L12 2L6 8L-6.16331e-08 2Z" />
            </g>
            <defs>
              <clipPath id="clip0_24_85">
                <rect width="8" height="12" fill="white" transform="translate(12) rotate(90)" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <span>
          Как заказывать на ASOS?
        </span>
      </div>
      <div class="promos-chars__text">
        <p>
          Таким образом новая модель организационной деятельности представляет собой интересный эксперимент проверки
          систем
        </p>
      </div>
    </li>
  </ul>
</div>
<div class="promos-chars">
  <span class="promos-chars__title promos-chars__title--gray">
    Для новых клиентов ASOS
  </span>
  <p class="promos-chars__desc text-block">
    Таким образом новая модель организационной деятельности представляет собой интересный эксперимент проверки систем
    массового участия. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности
    влечет за собой процесс внедрения и модернизации существенных финансовых и административных<span
      class="dots">...</span><span class="more"> таким образом новая модель организационной деятельности представляет
      собой
      интересный эксперимент проверки систем
      массового участия. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности
      влечет за собой процесс внедрения и модернизации существенных финансовых и административных</span><span
      class="read-more"> Читать
      далее</span>
  </p>
</div>

<div class="promos-chars">
  <span class="promos-chars__title promos-chars__title--gray">
    Похожие магазины
  </span>
  <ul class="list-reset promos-chars__links promos-links">
    <li class="promos-links__item">
      <a href="">Ozon</a>
    </li>
    <li class="promos-links__item">
      <a href="">Бронницкий ювелир</a>
    </li>
    <li class="promos-links__item">
      <a href="">Lamoda</a>
    </li>
    <li class="promos-links__item">
      <a href="">Aliexpress</a>
    </li>
    <li class="promos-links__item">
      <a href="">Золотое яблоко</a>
    </li>
    <li class="promos-links__item">
      <a href="">Золотое яблоко</a>
    </li>
    <li class="promos-links__item">
      <a href="">Золотое яблоко</a>
    </li>
    <li class="promos-links__item">
      <a href="">Золотое яблоко</a>
    </li>
    <li class="promos-links__item">
      <a href="">Ozon</a>
    </li>
    <li class="promos-links__item">
      <a href="">Бронницкий ювелир</a>
    </li>
    <li class="promos-links__item">
      <a href="">Lamoda</a>
    </li>
    <li class="promos-links__item">
      <a href="">Aliexpress</a>
    </li>
    <li class="promos-links__item">
      <a href="">Золотое яблоко</a>
    </li>
  </ul>
</div>