<div class="promos-chars sidebar">
  <h2 class="promos-chars__title">О магазине</h2>
  <p class="promos-chars__desc text-block">
    Таким образом новая модель организационной деятельности<span class="dots">...</span><span class="more"> представляет
      собой интересный эксперимент проверки систем
      массового участия. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности
      влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.</span><span
      class="read-more"> Читать далее</span>
  </p>
</div>