<section class="promo">
  <div class="container">
    <span class="title2 promo__title">Промокоды</span>

    <div class="promo__items">
      <div class="promo__item promo-item promo-item--promo promo-item--short">
        <div class="promo-item__top" data-popup-btn>

          <div class="promo-item__info">
            <span class="promo-item__discount">-20%</span>
            <div class="promo-item__content">
              <span class="promo-item__name">Промокод</span>
              <span class="promo-item__desc">Сейчас можно получить скидку в 20% на полгода при оформлении тарифов Салют,
                Комбо, Оптимум и Премиум.</span>
              <span class="promo-item__time">Действует до 6 сентября 2022</span>
            </div>
          </div>
          <button class="btn-reset promo-item__btn">
            <span class="promo-item__use">
              <svg class="">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </span>
            <span class="promo-item__promo">
              <span>124FHSD</span>
            </span>
          </button>
        </div>
        <div class="promo-item__more promo-more">
          <div class="promo-more__header">
            <span>Подробнее</span>
            <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L5 5L9 1" stroke="#B1B1B1" stroke-width="2" />
            </svg>
          </div>
          <div class="promo-more__desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor modi reprehenderit neque similique
              adipisci ad autem cumque mollitia odio nemo.
            </p>
          </div>
        </div>
      </div>
      <div class="promo__item promo-item promo-item--promo promo-item--short">
        <div class="promo-item__top" data-popup-btn>
          <div class="promo-item__info">
            <span class="promo-item__discount">-20%</span>
            <div class="promo-item__content">
              <span class="promo-item__name">Промокод</span>
              <span class="promo-item__desc">-20% на платья</span>
              <span class="promo-item__time">Действует до 6 сентября 2022</span>
            </div>
          </div>
          <button class="btn-reset promo-item__btn">
            <span class="promo-item__use">
              <svg class="">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </span>
            <span class="promo-item__promo">
              <span>124FHSD</span>
            </span>
          </button>
        </div>
        <div class="promo-item__more promo-more">
          <div class="promo-more__header">
            <span>Подробнее</span>
            <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L5 5L9 1" stroke="#B1B1B1" stroke-width="2" />
            </svg>
          </div>
          <div class="promo-more__desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor modi reprehenderit neque similique
              adipisci ad autem cumque mollitia odio nemo.
            </p>
          </div>
        </div>
      </div>
      <div class="promo__item promo-item promo-item--promo promo-item--short">
        <div class="promo-item__top" data-popup-btn>
          <div class="promo-item__info">
            <span class="promo-item__discount">-20%</span>
            <div class="promo-item__content">
              <span class="promo-item__name">Промокод</span>
              <span class="promo-item__desc">-20% на платья</span>
              <span class="promo-item__time">Действует до 6 сентября 2022</span>
            </div>
          </div>
          <button class="btn-reset promo-item__btn">
            <span class="promo-item__use">
              <svg class="">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </span>
            <span class="promo-item__promo">
              <span>124FHSD</span>
            </span>
          </button>
        </div>
        <div class="promo-item__more promo-more">
          <div class="promo-more__header">
            <span>Подробнее</span>
            <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L5 5L9 1" stroke="#B1B1B1" stroke-width="2" />
            </svg>
          </div>
          <div class="promo-more__desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor modi reprehenderit neque similique
              adipisci ad autem cumque mollitia odio nemo.
            </p>
          </div>
        </div>
      </div>

      <div class="promo__item promo-item promo-item--promo promo-item--short">
        <div class="promo-item__top" data-popup-btn>
          <div class="promo-item__info">
            <span class="promo-item__discount">-20%</span>
            <div class="promo-item__content">
              <span class="promo-item__name">Промокод</span>
              <span class="promo-item__desc">-20% на платья</span>
              <span class="promo-item__time">Действует до 6 сентября 2022</span>
            </div>
          </div>
          <button class="btn-reset promo-item__btn">
            <span class="promo-item__use">
              <svg class="">
                <use xlink:href="img/sprite.svg#play"></use>
              </svg>
            </span>
            <span class="promo-item__promo">
              <span>124FHSD</span>
            </span>
          </button>
        </div>
        <div class="promo-item__more promo-more">
          <div class="promo-more__header">
            <span>Подробнее</span>
            <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L5 5L9 1" stroke="#B1B1B1" stroke-width="2" />
            </svg>
          </div>
          <div class="promo-more__desc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor modi reprehenderit neque similique
              adipisci ad autem cumque mollitia odio nemo.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>