<section class="stores">
  <div class="container">
    <span class="stores__title title2">Магазины у нас</span>

    <div class="stores__items">
      <ul class="list-reset stores__col">
        <li class="stores__item">
          <a href="" class="stores__link">Amazon</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Newegg</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Nordstrom</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Shopbop</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Ulta Beauty</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Amazon</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Newegg</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Nordstrom</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Shopbop</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Ulta Beauty</a>
        </li>
      </ul>
      <ul class="stores__col list-reset">
        <li class="stores__item">
          <a href="" class="stores__link">eBay</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Home Depot</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Nike</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Neiman Marcus</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">GAME.co.uk</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">eBay</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Home Depot</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Nike</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Neiman Marcus</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">GAME.co.uk</a>
        </li>

      </ul>
      <ul class="stores__col list-reset">
        <li class="stores__item">
          <a href="" class="stores__link">eBay</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Home Depot</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Nike</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Neiman Marcus</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">GAME.co.uk</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">eBay</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Home Depot</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Nike</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Neiman Marcus</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">GAME.co.uk</a>
        </li>

      </ul>
      <ul class="stores__col list-reset">
        <li class="stores__item">
          <a href="" class="stores__link">eBay</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Home Depot</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Nike</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Neiman Marcus</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">GAME.co.uk</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">eBay</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Home Depot</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Nike</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Neiman Marcus</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">GAME.co.uk</a>
        </li>

      </ul>
      <ul class="stores__col list-reset">
        <li class="stores__item">
          <a href="" class="stores__link">eBay</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Home Depot</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Nike</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Neiman Marcus</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">GAME.co.uk</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">eBay</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Home Depot</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Nike</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Neiman Marcus</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">GAME.co.uk</a>
        </li>

      </ul>
      <ul class="stores__col list-reset">
        <li class="stores__item">
          <a href="" class="stores__link">eBay</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Home Depot</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Nike</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Neiman Marcus</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">GAME.co.uk</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">eBay</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Home Depot</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Nike</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">Neiman Marcus</a>
        </li>
        <li class="stores__item">
          <a href="" class="stores__link">GAME.co.uk</a>
        </li>

      </ul>
    </div>
  </div>
</section>