html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
  background-color: #f4f4f4;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  display: inline-flex;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  color: #2c2c2c;
  padding: 14px 40px;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border-radius: 25px;
  overflow: hidden;
  transition: color .3s ease-out, background-color .3s ease-out;


  @include mobile {
    padding: 12px 20px;
  }

  @media (max-width: 375px) {
    font-size: 12px;
  }

  @include hover {
    background-color: #ececec;
  }

  &--red {
    background-color: #e9331d;
    color: #fff;
    border: 1px solid #e9331d;

    @include hover {
      background-color: #fff;
      color: #e9331d;
    }
  }
}

.title2 {
  display: block;
  margin: 0;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 128%;
  color: #161616;

  @include tablet {
    font-size: 32px;
  }

  @include mobile {
    font-size: 26px;
  }

}

.promos-wrapper {
  padding: 0 var(--container-offset);

  .cta {
    margin-left: calc(var(--container-offset) * -1);
    margin-right: calc(var(--container-offset) * -1);
  }
}

.promos-container {
  padding-top: 90px;
  max-width: var(--container-width);

  margin: 0 auto;
  margin-bottom: 90px;

  @include big-desktop {
    padding-top: 60px;
    margin-bottom: 60px;
  }

  @include tablet {
    padding-top: 40px;
    margin-bottom: 40px;
  }

  @media (max-width: 850px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @include small-tablet {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  @include mobile {
    display: block;
  }
}

.promos-content {

  grid-column: 2 span;

}



.grid-sizer {
  @media (max-width: 850px) {
    display: none;
  }
}



.grid-sizer {
  width: 8.3333%;

  @media (max-width: 850px) {
    width: 100%;
  }
}

.grid-item {
  width: 25%;

  @media (max-width: 850px) {
    width: 100%;
  }
}

.grid-item-big {
  width: 75%;
  grid-column: 2 span;


  padding-left: 20px;

  @media (max-width: 850px) {
    width: 100%;
    padding-left: 0;
  }
}

.promos-title {
  width: 100%;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  color: #505050;
  padding-left: calc(25% + 20px);
  margin-bottom: 25px;

  // grid-column: 4 / 9 span;
  @media (max-width: 850px) {
    padding-left: unset;
    grid-column: 2 span;
    text-align: center;
    margin-bottom: 0;
  }

  @include small-tablet {
    font-size: 28px;
    // max-width: 250px;
    margin: 0 auto;
  }

  @include mobile {
    margin-bottom: 20px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
}

.promos-about-sidebar {
  @media (max-width: 850px) {
    grid-column: 2 span;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    // align-items: center;
  }

  @include mobile {
    grid-template-columns: 1fr;
  }

  &--main {
    @include mobile {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      margin-bottom: 20px;
    }

    .promos-chars {

      .read-more,
      .dots {
        display: none;
      }

      .more {
        display: inline;
      }

      @include mobile {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;

        .read-more,
        .dots {
          display: inline;
        }

        .more {
          display: none;
        }
      }
    }
  }



}